body {
    background: rgb(86, 86, 249);
    font: normal 15pt Arial;
}

div, p {
    text-align: center;
    padding: 5px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 25px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.283);
}

section div {
    margin: 25px;
}

header, footer {
    color: azure;
    text-align: center;
}

footer {
    font-style: italic;
    height: auto;
}

#imagem {
    width: 270px;
    height: 250px;
    border-radius: 60%;
    object-fit: fill;
}

#foto {
    justify-content: center;
    display: flex;
    align-items: center;
}
